<body style="background-color: #e5e5e5">
<div style="background-color: #e5e5e5">
<div style="height: 100vh;  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');"   class="bg-image">
  <nav class="navbar navbar-expand-sm navbar-light bg-light" >
    <div class="container-fluid" style="background-color: transparent !important;">
      <a class="navbar-brand" href="#">iRepair</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="background-color: transparent !important;" class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#repair">Repair</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#purchase">Purchase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#location">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sms:+15404215581">(540)421-5581</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="background-color: transparent !important;" class="text-center position-absolute top-50 start-50 translate-middle" >
    <h1>iRepair</h1>
    <h4>Your Ultimate Source for iPhone, iPod, iPad, and Mac Repair.</h4>
    <a class="btn" href="#repair">Repair</a>
    <a class="btn" href="#purchase">Purchase</a>
  </div>
</div>

<div id="repair" class="container" style=" padding-top: 24px; height: 50vh; text-align: center" >
  <h1>Device Repair</h1>
  <p></p>
  <h5 style="padding-bottom: 96px">All your electronics are welcome! We have the tool and expertize your device needs.</h5>
  <!--  device repair option-->
  <div class="d-flex justify-content-center row img-fluid" >

    <div class="card-formatting card col-md-4 col-6" style="align-items: center"  >
      <img class="img-fluid img-size card-img-top" src="assets/iphone/iphone13.png" alt="...">
      <div class="card-body">
        <button onclick="location.href='#iphoneRepair'" class="btn card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#iphoneRepair" aria-expanded="false" aria-controls="collapseExample">
          iPhone Repair
        </button>
      </div>
    </div>


    <div class="card-formatting card col-md-4 col-6" style="align-items: center">
      <img class="img-fluid img-size card-img-top" src="https://www.sunrise.ch/en/kmu/geraete/tablets/apple-ipad-pro-12-9---2021-.primaryproductimage.code-MDAwMDAwMDAwMDAwMDIxNTUy.format-hardware-configurator-l.png" alt="...">
      <div class="card-body">
        <button onclick="location.href='#ipadRepair'" class="btn card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#ipadRepair" aria-expanded="false" aria-controls="collapseExample">
          iPad Repair
        </button>
      </div>
    </div>

    <div class="card-formatting card col-md-4 col-6 text-center" >
      <img class="card-img-top img-fluid img-size" src="assets/Android/s21.png"  alt="...">
      <div class="card-body">
        <button onclick="location.href='#AndroidRepair'" class="btn card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#AndroidRepair" aria-expanded="false" aria-controls="collapseExample">
          Android Phone Repair
        </button>
      </div>
    </div>

    <div class="card-formatting card col-md-4 col-6 text-center" >
      <img class="card-img-top img-fluid img-size" src="https://stg-images.samsung.com/is/image/samsung/ph-galaxy-tab-a-s-pen-sm-p205-sm-p205nzaaxtc-frontgray-thumb-156384629"  alt="...">
      <div class="card-body">
        <button onclick="location.href='#AndroidTabletRepair'" class="btn   card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#AndroidTabletRepair" aria-expanded="false" aria-controls="collapseExample">
          Android Tablet Repair
        </button>
      </div>
    </div>

    <div class="card-formatting card col-md-4 col-6 text-center">
      <img class="card-img-top img-size img-fluid " src="assets/Macbook/macbookTop.png"  alt="...">
      <div class="card-body">
        <button onclick="location.href='#PcRepair'" class="nav-link btn   card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#PcRepair" aria-expanded="false" aria-controls="collapseExample">
          Mac/PC Repair
        </button>
      </div>
    </div>

    <div class="card-formatting card col-md-4 col-6 text-center">
      <img class="card-img-top img-fluid img-size" src="assets/watch/appleWatch.png"  alt="...">
      <div class="card-body">
        <button onclick="location.href='#WatchRepair'" class="btn card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#WatchRepair" aria-expanded="false" aria-controls="collapseExample">
          Smart Watch Repair
        </button>
      </div>
    </div>
</div>


<!--Device show hide panels-->
  <div style="height: 50vh" class="container-fluid">


  <!--  iPhone Repair-->

  <div class="px-lg-5 collapse justify-content-center row dropdown img-fluid" style=" padding-top: 48px" id="iphoneRepair">
  <h1 style="padding-bottom: 96px">Select iPhone</h1>

<!--    Iteration for device-->
  <ng-container *ngFor="let iphone of iphones" >
     <div class="card-formatting-devices card col-6 col-md-3 text-center">
      <img src="{{iphone.deviceImg}}" class="img-product-details card-img-top" alt="...">
       <div class="card-body">
      <button class="btn card-text stretched-link" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + iphone.repairId">
        {{iphone.deviceName}}
      </button>
     </div>
    </div>

<!--      REPAIR DATA-->
     <div class=" img-fluid repair-info-div card-formatting-devices collapse justify-content-center" style="padding-bottom: 20vh" id="{{iphone.repairId}}">
      <h3 class="card-title " style="padding-bottom: 48px; padding-top: 24px">{{iphone.deviceName}} Repair Cost:</h3>
      <div class="row justify-content-center">
        <div *ngFor="let repair of iphone.repair"  class="card-formatting-repairs card col-md-6 col-lg-4 col-xl col-12 text-center">
          <img src="{{repair.repairImg}}" class="card-img-repairs card-img-top img-fluid " alt="...">
          <div class="card-body ">
            <h5 class="card-title">{{repair.repairTitle}} ${{repair.repairPrice}}</h5>
            <p>{{repair.repairDetails}}</p>
            <a class="btn"><a class="nav-link active stretched-link" aria-current="page" href="sms:+15404215581&body=Hi! I would like to get my {{repair.repairTitle}}. Can I schedule an appointment?"></a></a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  </div>









    <!--  Ipad Repair-->
    <div class="collapse img-fluid dropdown row justify-content-evenly" id="ipadRepair">
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">iPad</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">iPad Mini</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">iPad Pro</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">iPad Air</p>
        </div>
      </div>
    </div>





  <!--


  ANDROID REPAIR


  -->
    <div class="collapse justify-content-evenly row dropdown img-fluid " id="AndroidRepair">
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Samsung</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Google Pixel</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Motorola</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">LG</p>
        </div>
      </div>
    </div>




  <!--Mac/PC Repair-->
    <div class="collapse justify-content-evenly row dropdown img-fluid " id="PcRepair">
      <div class="card col-sm col-3 text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Windows</p>
        </div>
      </div>
      <div class="card col-sm col-3 text-center">
        <img src="https://www.backmarket.com/cdn-cgi/image/format=auto,quality=75,width=1920/https://d28i4xct2kl5lp.cloudfront.net/product_images/125752_bd22b183-a697-42ca-a63f-8e749af29ae7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <button class="btn   card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#MacOptions" aria-expanded="false" aria-controls="collapseExample">
            Mac
          </button>
        </div>
      </div>
    </div>


  <!--  mac options-->
    <div class="collapse justify-content-evenly row dropdown img-fluid " id="MacOptions">
      <div class="card col-sm col-3 text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Macbook Pro</p>
        </div>
      </div>
      <div class="card col-sm col-3 text-center">
        <img src="https://www.backmarket.com/cdn-cgi/image/format=auto,quality=75,width=1920/https://d28i4xct2kl5lp.cloudfront.net/product_images/125752_bd22b183-a697-42ca-a63f-8e749af29ae7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <button class="btn   card-text stretched-link" type="button" data-bs-toggle="collapse" data-bs-target="#WatchRepair" aria-expanded="false" aria-controls="collapseExample">
            Macbook Air
          </button>
        </div>
      </div>
    </div>




  <!--Watch Repair-->
    <div class="collapse justify-content-evenly row dropdown img-fluid " id="WatchRepair">
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Apple Watch</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Samsung Watch</p>
        </div>
      </div>
      <div class="card col-sm text-center">
        <img src="https://cdn.cnn.com/cnnnext/dam/assets/201210161739-laptop-lead.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Motorola Watch</p>
        </div>
      </div>
    </div>
  </div>
</div>




<!--&lt;!&ndash;DEVICES For SALE&ndash;&gt;-->
<!--<div style="margin-top: 5000px">-->
<!--  <div id="purchase" style="height: 100vh" class="text-center">-->
<!--    <h1>Devices for Sale</h1>-->
<!--    <br>-->
<!--    <h5>Looking for a quality used phone? Look no further than iRepair! We sell new and quality used phones and iPads. Devices in stock are available for immediate pickup.</h5>-->
<!--    <h5>Looking for something we don't have listed? We can order certain devices just for you!</h5>-->
<!--    <h5>With unbeatable prices and service, choose us for your next Smart device!</h5>-->
<!--    <h5>Call us today to see if we have the iPhone, iPad, Android, or computer you are searching for</h5>-->
<!--  </div>-->

<!--  <div id="aboutUs">-->
<!--    <h5>About Us</h5>-->
<!--    We are a locally owned and operated iPhone repair shop that started back in 2014. We have qualified technicians that are-->
<!--    happy to assist you and repair your device-->
<!--  </div>-->

<!--  <div id="contact">-->
<!--    <h5>Contact</h5>-->
<!--    <h3>Have a question? Need help? Get in touch with us by calling, stopping by</h3>-->
<!--    Phone-->
<!--    email-->
<!--  </div>-->

<!--  <div id="location">-->
<!--    <h5>Location</h5>-->
<!--  </div>-->
<!--</div>-->
</div>
</body>

